---
import { globSVG } from '@foxpro/astro-svg-components'
import CircleIcon from '@/svgs/circle.svg?component-astro'
const icons = globSVG('@/svgs/*.svg')
---

<html lang="en">
  <head>
    <style lang="css">
      .icon {
        color: blue;
      }
    </style>
  </head>
  <body>
    Circle: <CircleIcon class="icon" />
    {icons.map((Icon) => <Icon class="icon" />)}
    <a href="/subroute">Subroute</a>
  </body>
</html>
